In [32]:
#Q.1
import re
string='Python Exercise, PHP exercises.'
pattern="[ ,.]"

result=re.sub(pattern,":",string)
print(result)

Python:Exercise::PHP:exercises:

In [5]:
#Q.2
import pandas as pd

Dict={'SUMMARY':['hello,world!','XXXXX test','123four,five:;six...']}
df=pd.DataFrame(Dict)
df=df['SUMMARY'].str.replace('[^a-zA-Z\s]',' ',regex=True)
print(df)

0            hello world
1              XXXXX test
2       four five  six
Name: SUMMARY, dtype: object

In [6]:
#Q.3
import re
string1="My name is Gouri Atole"

def four_char(string1):
    pattern=re.compile('\w{4}+')
    result=pattern.findall(string1)
    print(result)

four_char(string1)

['name', 'Gour', 'Atol']

In [10]:
#Q.4
import re
string1="Smile is the best medicine in the world so please smile"
def four_char(string1):
    prog=re.compile('\w{3,5}')
    result=prog.findall(string1)
    print(result)
four_char(string1)

['Smile', 'the', 'best', 'medic', 'ine', 'the', 'world', 'pleas', 'smile']

In [11]:
#Q.5
import re
string=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
def remove_par(string):
    
    for i in string:
        pattern=re.compile("[()]")
        result=re.sub(pattern,"",i)
        print (result)
        
            
remove_par(string)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [55]:
#Q.6 

with open('paraenthesis.txt', 'r') as file:
    text=file.read()
    def line(text):
        
        pattern=r'\([^()]*\)'
        result=re.sub(pattern, '',text)
        print (result)
        
    line(text)

: ["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

In [17]:
#Q.7
import re
string="ImportanceOfRegularExpressionsInPython"
pattern='[A-Z][^A-Z]*'
def splt(string):
    result=re.findall(pattern,string)
    print(result)

splt(string)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [18]:
#Q.8
import re
text="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r'(\d+)([\w+])'
def insert(text):

    result=re.sub(pattern,r' \1\2',text)
    print(result)

insert(text)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [19]:
#Q.9
import re
string="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r'([A-Z] [a-z0-9]+|\d+)'
def insert_space(string):
    
    result=re.sub(pattern, r' \1 ',string)
    
    print(result)
    
        
insert_space(string)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [20]:
#Q.11
string="Gouriatole_94"
def match(string):
    pattern='^[a-zA-Z0-9_]*$'
    if re.search(pattern,string):
        print("String Is Match")
    else:
        print("Not Match")
match(string)

String Is Match

In [21]:
#Q.12
string="21 Hello All"
def number(string):
    pattern='^\d+'
    if re.search(pattern,string):
        print("String Start with specific number")
    else:
        print("Not Match")
number(string)

String Start with specific number

In [22]:
#Q.13
ip_add="152.052.012.560"
def remove(ip_add):
    
    pattern=r'\b0+(\d)'
    result=re.sub(pattern,r'\1',ip_add)
    print(result)
remove(ip_add)

152.52.12.560

In [21]:
#Q.14

import re

with open('Q.14.txt','r') as file:
    text=file.read()
    
def ext_date(text):
    #pattern=r'\b([A-Z][a-z]+) \d{1,2}(?:st|nd|rd|th)? \d{4}\b'
    
    pattern=r'\b([A-Z]\w+) \d{1,2}(?:th)? \d{4}'
    result=re.search(pattern,text)
    print(result)
    
ext_date(text)

<re.Match object; span=(5, 21), match='August 15th 1947'>

In [24]:
#Q.15
text="The quick brown fox jumps over the lazy dog."
srch_pattern=['fox','dog','horse']
for word in srch_pattern:
    if re.search(word,text):
        print("Search Word is Matched")
    else:
        print("Word is Not Matched")

Search Word is Matched
Search Word is Matched
Word is Not Matched

In [32]:
#Q.16
import re
text="The quick brown fox jumps over the lazy dog."
pattern=r'fox'

result=re.search(pattern,text)
print(result)

<re.Match object; span=(16, 19), match='fox'>

In [34]:
#Q.17
text='Python exercises, PHP exercises,C# exercises'
pattern='exercises'

if re.findall(pattern,text):
        print('Substring is Found:',pattern)
else:
        print('Substring Not Found:',pattern)

Substring is Found: exercises

In [35]:
#Q.18
import re
text='Python exercises, PHP exercises,C# exercises'
pattern='exercises'

for sample in re.finditer(pattern,text):
    
        print('Substring Found',sample)

Substring Found <re.Match object; span=(7, 16), match='exercises'>
Substring Found <re.Match object; span=(22, 31), match='exercises'>
Substring Found <re.Match object; span=(35, 44), match='exercises'>

In [36]:
#Q.19
import re
dt='2024-12-04'
pattern=r'(\d{4})-(\d{1,2})-(\d{1,2})'

def convert(dt):
    new_date=re.sub(pattern,'\\3-\\2-\\1',dt)
    print(new_date)
    
convert(dt)

04-12-2024

In [37]:
#Q.20
import re
text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

pattern=r'\d+\.[0-9]{1,2}\b'

def decimal_no(text):
        patterns=re.compile(pattern)
        dec=re.findall(patterns,text)
        print(dec)
        
decimal_no(text)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [39]:
#Q.21
import re
string="Sachin has scored 80 centuries in his cricket carrer and virat has 62 scored"
pattern=re.compile('\d+')

for match in pattern.finditer(string):
    
    print("Numbers:",match.group())
    print("The position of no.s is:",match)

Numbers: 80
The position of no.s is: <re.Match object; span=(18, 20), match='80'>
Numbers: 62
The position of no.s is: <re.Match object; span=(67, 69), match='62'>

In [40]:
#Q.22
sample_text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern='\d+'
def lar(sample_text):
    
    largest_no=re.findall(pattern,sample_text)
    max_no=max(largest_no)

    print("The largest number is:",max_no)
lar(sample_text)

The largest number is: 950

In [41]:
#Q.23
string1="RegularExpressionIsAnImportantTopicInPython"
pattern=r'(\w)([A-Z])'

def insrt_space(string1):

    result=re.sub(pattern,r'\1 \2',string1)
    print(result)
    
insrt_space(string1)

Regular Expression Is An Important Topic In Python

In [42]:
#Q.24
string="Good Things Take Time njdhf"
pattern=r'[A-Z][a-z]+'

result=re.findall(pattern,string)
print(result)

['Good', 'Things', 'Take', 'Time']

In [47]:
#Q.25
import re
string="Hello hello world world"
pattern=r'\b(\w+)(?:\W+\1\b)+'
def dupl(string):
    
    x=re.sub(pattern,r'\1',string)
    print(x)
    
dupl(string)

Hello hello world

In [50]:
#Q.26

input_str=input("Enter a String:")
def accept_str(string):
    pattern='\w$'
    
    if re.search(pattern,string):
        print("The string ending with alphanumeric character") 
    else:
        print("The string does not end with alphanumeric character")
        
accept_str(input_str)

Enter a String:hello
The string ending with alphanumeric character

In [51]:
#Q.27
sample_text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern=r'#[a-zA-Z0-9]+'

def extract(sample_text):
    
    result=re.findall(pattern,sample_text)
    print(result)
    
extract(sample_text)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [52]:
#Q.28
sample_text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern=r'<U\+\w{4}>'

def remove(sample_text):
    result=re.sub(pattern,"",sample_text)
    print(result)
    
remove(sample_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [18]:
#Q.29
import re

with open('Q.29.txt', 'r') as file:
    text=file.read()
def line(text):
        
        pattern=r'(\d{1,2})-(\d{1,2})-(\d{4})'
        result=re.findall(pattern,text)
        print (result)
        
line(text)

[('12', '09', '1992'), ('15', '12', '1999')]

In [54]:
#Q.30
sample_text="The following example creates an ArrayList with a capacity of 50 elements.4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern=re.compile(r'\b\w{2,4}\b')

def remove(sample_text):
    result=re.sub(pattern,"",sample_text)
    print(result)

remove(sample_text)

 following example creates  ArrayList  a capacity   elements.4 elements   added   ArrayList   ArrayList  trimmed accordingly.

In [23]:
#Q.10
import pandas as pd
link="https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df=pd.read_csv(link)
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [29]:
df['first_five_letters']=df['Country'].apply(lambda x:x[:6])

In [30]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726